/POO_Lab2/nbproject/private/
/OOP_Lab2/build/
/OOP_Lab3/nbproject/private/
/OOP_Lab3_var/build/
/OOP_Lab3_var/nbproject/private/
/OOP_Lab4/nbproject/private/
/OOP_Lab4/build/
/HomeworkOne/nbproject/private/
/HTables/nbproject/private/
/AppOne/gen/
/AndroidApp1/gen/